@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	padding: 0
	margin: 0
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

.button
	display: inline-block
	border: none
	color: #fff
	text-decoration: none
	background-color: $accent
	padding: 16px 45px
	font-size: 15px
	text-transform: capitalize
	white-space: nowrap
	font-weight: 600
	letter-spacing: 1px
	border-radius: 10px
	text-align: center
	position: relative
	outline: none
	transition: background-color .2s ease
	&:focus, &:hover
		text-decoration: none
		color: #fff
	&:hover
		background-color: lighten($accent, 5%)
		&::after
			opacity: .22
	&:active
		background-color: darken($accent, 5%)
		&::after
			opacity: .32

	&.button-blue
		background-color: #26a6d1
		&:hover
			background-color: lighten(#26a6d1, 10%)
		&:active
			background-color: darken(#26a6d1, 10%)
	&.button-white
		background-color: #ffffff
		border: 1px solid #515151
		color: #515151
		padding: 20px 25px
		&:hover
			background-color: #515151
			color: #ffffff
		&:active
			background-color: darken(#515151, 10%)
			color: #ffffff

.clearfix::after
	content: ""
	display: block
	clear: both
	visibility: hidden
	height: 0

.wrapper
	max-width: 1300px
	margin: 0 auto
	overflow: hidden

.header
	min-height: 80px
	width: 100%
	max-width: 1028px
	margin: 0 auto
	position: relative
	z-index: 20
	background: #ffffff

	.hamburger
		position: absolute
		top: 10px
		right: 0
		display: none

	.logo
		float: left
		margin-left: 10px
		margin-right: 138px
		line-height: 77px
		white-space: nowrap
		& a
			font-family: 'nunito-ex', sans-serif
			font-size: 31.2px
			line-height: 77px
			color: #6d6e70
			text-transform: uppercase
			text-decoration: none
			&:hover
				text-decoration: none
		& img
			width: 33px
			height: 100%
			position: relative
			top: -6px
			margin-right: 10px

	.nav
		white-space: nowrap
		padding-top: 20px
		display: inline-block
		position: relative
		transition: all 1s ease
		& li
			display: inline-block
			text-decoration: none
			text-transform: uppercase
			font-size: 13.2px
			font-weight: 600
			padding-right: 2%
			vertical-align: middle
			& a
				color: #515151
				&:focus, &:hover
					text-decoration: none
				&:hover
					color: lighten(#515151, 15%)
				&:active
					color: darken(#515151, 15%)
			& .button-login
				color: #ffffff
				padding: 8px 31px
				font-size: 13.2px
				background-color: #bcda5c
				border-radius: 50px
				text-transform: uppercase
				&:hover
					color: #ffffff
					background-color: lighten(#bcda5c, 10%)
				&:active
					color: #ffffff
					background-color: darken(#bcda5c, 10%)

		&.is-open
			right: -1px

.banner
	min-height: 570px
	width: 100%
	position: relative
	padding: 15px
	//background: linear-gradient(rgba(109, 110, 112, 0.2), rgba(109, 110, 112, 0.2)), url('../img/banner.jpg') center/cover no-repeat
	background: rgba(109, 110, 112, 0.2) url('../img/banner.jpg') center/cover no-repeat
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: rgba(0, 0, 0, 0.2)
	&-composition
		padding-top: 168px
		text-align: center
		position: relative
		color: #ffffff
		& p:first-child
			font-weight: 600
			font-size: 40px
			letter-spacing: 3px
		& p
			font-size: 33px
		& .button
			font-size: 19.2px
			color: #ffffff
			border-radius: 10px
			padding: 24px 42px
			margin-top: 58px
			&::after
				display: none

/*============ section-1 ============*/
.section-1
	text-align: center
	color: #515151
	padding: 100px 15px 85px 15px
	//& img
	//	margin-bottom: 36px
	& .img-shape
		display: inline-block
		margin-bottom: 36px
		width: 58px
		height: 58px
		background: url('../img/shape-info.svg') center/cover no-repeat
	& p:first-of-type
		max-width: 500px
		margin: 0 auto
		font-size: 31.2px
		font-weight: 600
		line-height: 50px
	& p
		max-width: 920px
		margin: 48px auto 0 auto
		font-size: 19.2px

/*============ section-2 ============*/
.section-2
	padding: 60px 10px 0
	& .tabs
		max-width: 980px
		margin: 0 auto
		text-align: center
		white-space: nowrap
		overflow: hidden
		& .tab
			display: inline-block
			width: 33%
			text-align: start
			padding-bottom: 37px
			&.active
				border-bottom: 1px solid #86ad09
			&:first-child
				text-align: start
				padding-left: 10px
				& .underline
					left: -10px
			&:last-child
				text-align: end
				padding-right: 10px
				& .underline
					right: -42px
	& span
		font-size: 30.2px

.tab-number
	display: inline-block
	width: 43px
	height: 43px
	color: #ffffff
	background-color: #515151
	line-height: 43px
	border-radius: 50%
	margin-right: 29px
	font-size: 20.2px
	text-align: center
	&.active
		background-color: $accent

.line
	max-width: 980px
	margin: 0 auto
	height: 1px
	background-color: #515151
	position: relative
	z-index: -5
	top: -1px

.panel
	max-width: 980px
	margin: 0 auto
	padding: 90px 20px 90px 110px
	white-space: nowrap
	& .img-glasses
		display: inline-block
		width: 113px
		height: 102px
		margin-right: 53px
		background: url('../img/glasses.png') center/cover no-repeat
		vertical-align: middle
	& .info-text
		max-width: 70%
		display: inline-block
		vertical-align: middle
		font-size: 17.2px
		white-space: normal
		& p
			line-height: 30px
			&:first-child
				font-size: 25.2px
				color: #add136
				padding-bottom: 35px

/*============ section-3 ============*/

.section-3
	position: relative
	> div
		padding-top: 40px
		padding-bottom: 46px
		width: 50%
		min-height: 250px
		height: 100%

	& .left-section
		background-color: #e2f8ff
		float: left
		padding-right: 60px
		white-space: nowrap
		.cont
			float: right
		.info-text
			display: inline-block
			white-space: normal
			vertical-align: middle
			//width: 70%
			padding-left: 46px
			width: 260px
			& p:first-child
				font-size: 23.2px
				font-weight: 600
				padding-bottom: 35px
		& .img-left-section
			display: inline-block
			vertical-align: middle
			height: 112px
			width: 133px
			background: url('../img/armchair.png') center/cover no-repeat



	& .right-section
		background-color: #f5f9eb
		padding-left: 60px
		white-space: nowrap
		float: right
		& .cont
			float: left
		& .info-text
			display: inline-block
			white-space: normal
			vertical-align: middle
			width: 260px
			padding-left: 46px
			word-wrap: break-word
			& p:first-child
				font-size: 23.2px
				font-weight: 600
				padding-bottom: 35px
		& .img-right-section
			display: inline-block
			height: 92px
			width: 101px
			background: url('../img/purse.png') center/cover no-repeat
			vertical-align: middle

	& .button
		margin-top: 28px
		padding: 18px 28px
		white-space: nowrap

/*============ section-4 ============*/
.section-4
	padding: 80px 1.5% 0
	max-width: 980px
	margin: 0 auto -45px auto

	& .header-project-section
		padding-bottom: 60px

	& .text
		display: inline-block
		width: 65%

	& .head-text
		font-size: 29.2px
		font-weight: 600

	& .button, .text
		display: inline-block
		white-space: normal
		vertical-align: middle
		position: relative
	& .button
		float: right
		margin-top: 27px

.project-list
	margin: 0 -1.5%
	text-align: center

	& .item
		width: 30%
		margin: 0 1.5%
		min-height: 100px
		//background-color: #515151
		display: inline-block
		overflow: hidden
		border-radius: 15px
		border: 1px solid #e5e5e5
		background-color: #f9f9f9
		text-align: start
		//background: url('../img/photo-1.jpg') center/cover no-repeat
		& .photo
			width: 100%
			min-height: 225px
			position: relative
			display: inline-block
			background: url('../img/photo-1.jpg') center/cover no-repeat

		& .label-new
			position: absolute
			top: -85px
			left: -85px
			width: 140px
			height: 140px
			background-color: #86ad09
			color: #ffffff
			font-weight: 600
			text-align: center
			transform: rotate(-45deg)
			& span
				position: absolute
				bottom: 0
				right: 0
				left: 0

		& .info
			padding: 25px
			font-weight: 600
			font-size: 13.2px

			& .text
				width: 100%

			& .title
				font-weight: bold
				padding: 0
				font-size: 17.2px
				& .city
					text-transform: uppercase

			& .clip
				overflow: hidden
				position: relative
				max-height: 240px
				&::after
					content: ''
					text-align: right
					position: absolute
					bottom: 0
					right: 0
					width: 70%
					height: 21.8px
					background: linear-gradient(to right, rgba(249, 249, 249, 0), rgba(249, 249, 249, 1) 50%)

			.progress-bar
				padding: 15px 0

			& .meter
				height: 15px
				position: relative
				background: #e3e3e3
				border-radius: 25px
				box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3)
				& > span
					display: block
					height: inherit
					border-top-left-radius: 25px
					border-bottom-left-radius: 25px
					background-color: #add136
					z-index: 10
					overflow: hidden

			& .progress-bar-info
				font-size: 13.2px
				padding-bottom: 30px
				border-bottom: 1px solid #e3e3e3
				text-transform: capitalize
				& .progress
					display: inline-block
					float: left
				& .days
					display: inline-block
					float: right

			& .pr-det
				display: inline-block
				float: right
				margin: 25px 15px 20px 0
				font-size: 15.2px
				text-transform: capitalize
				color: #515151
				& .fa
					font-size: 25px
					position: relative
					top: 4px
					left: 15px
					color: #86ad09
					transition: left .2s ease
				&:focus, &:hover
					text-decoration: none
					color: lighten(#515151, 20%)
					& .fa
						left: 20px
				&:active
					color: darken(#515151, 10%)

/*============ section-5 ============*/

.section-5
	min-height: 670px
	width: 100%
	position: relative
	background: url('../img/bg.png') center/cover no-repeat
	padding-top: 120px
	padding-bottom: 50px
	z-index: -5

	& .title
		font-size: 39.2px
		font-weight: 600
		color: #86ad09
		padding-bottom: 40px

	& .inner-wrapper
		max-width: 940px
		margin: 0 auto
		padding: 0 1.5%
		text-align: center

	& p
		font-size: 19.2px
		line-height: 38px

	& .comment-list
		//margin-top: 90px
		text-align: start
		overflow: hidden
		white-space: nowrap
		margin: 90px -1.5% 0
		padding: 5px

		& .comment-item
			display: inline-block
			max-width: 42%
			white-space: normal
			margin: 0 4%
			position: relative
			font-weight: 600

			& .cloud
				background-color: #ffffff
				padding: 22px 32px
				border-radius: 15px
				text-align: center
				&-title
					font-size: 21.2px
					color: #86ad09

				&-text
					font-size: 13.2px
					line-height: 23px

			& .triangle
				width: 0
				height: 0
				margin-left: 20%
				border-top: 20px solid #ffffff
				border-right: 20px solid transparent

			& .commentator
				margin-left: 15%
				margin-top: 10px

				&-img
					width: 60px
					height: 60px
					border-radius: 10px
					background: url('../img/commentator.jpg') center/cover no-repeat
					display: inline-block
					vertical-align: middle

				&-name
					display: inline-block
					font-size: 15.2px
					font-weight: 600


/*============ section-6 ============*/

.section-6
	padding: 65px 0 38px
	border-bottom: 1px solid #6d6e70

	& .partner-list
		max-width: 1020px
		margin: 0 auto
		overflow: hidden
		text-align: center

	& .partner-item
		display: inline-block
		width: 140px
		height: 32px
		background: url("../img/partner-1.png") center/cover no-repeat

.footer
	padding-top: 25px
	padding-bottom: 10px
	font-size: 13.2px
	text-align: center

.darken
	display: none
	position: absolute
	z-index: 10
	left: 0
	top: 0
	width: 100%
	height: 100%
	opacity: 0.5
	background: #000000

.is-active-dark
	display: block

.not-scrolling
	overflow-y: hidden



@import "media" // Всегда в конце
