@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	padding: 0
	margin: 0
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

.button
	display: inline-block
	border: none
	color: #fff
	text-decoration: none
	background-color: $accent
	padding: 16px 45px
	font-size: 15px
	text-transform: capitalize
	font-weight: 600
	letter-spacing: 1px
	border-radius: 10px
	text-align: center
	position: relative
	outline: none
	transition: background-color .2s ease
	&:focus, &:hover
		text-decoration: none
		color: #fff
	&:hover
		background-color: lighten($accent, 5%)
		&::after
			opacity: .22
	&:active
		background-color: darken($accent, 5%)
		&::after
			opacity: .32
	&.button-login
		float: right
		margin-top: 21px
		margin-right: 10px
		padding: 8px 31px
		font-size: 13.2px
		background-color: #bcda5c
		border-radius: 50px
		text-transform: uppercase
		&:hover
			background-color: lighten(#bcda5c, 10%)
		&:active
			background-color: darken(#bcda5c, 10%)
	&.button-blue
		background-color: #26a6d1
		&:hover
			background-color: lighten(#26a6d1, 10%)
		&:active
			background-color: darken(#26a6d1, 10%)
	&.button-white
		background-color: #ffffff
		border: 1px solid #515151
		color: #515151
		padding: 20px 25px
		&:hover
			background-color: #515151
			color: #ffffff
		&:active
			background-color: darken(#515151, 10%)
			color: #ffffff


.wrapper
	max-width: 1300px
	margin: 0 auto

.header
	min-height: 80px
	width: 100%
	max-width: 1028px
	margin: 0 auto
	position: relative

.logo
	float: left
	margin-left: 10px
	line-height: 77px
	& a
		font-family: 'nunito-ex', sans-serif
		font-size: 31.2px
		line-height: 77px
		color: #6d6e70
		text-transform: uppercase
		text-decoration: none
		&:hover
			text-decoration: none
	& img
		width: 33px
		height: 100%
		position: relative
		top: -6px
		margin-right: 10px

.nav
	float: right
	white-space: nowrap
	margin-right: 7%
	margin-left: 7%
	overflow: hidden
	line-height: 77px
	& li
		display: inline-block
		text-decoration: none
		text-transform: uppercase
		font-size: 13.2px
		font-weight: 600
		padding-right: 2%

.banner
	min-height: 570px
	width: 100%
	position: relative
	//background: linear-gradient(rgba(109, 110, 112, 0.2), rgba(109, 110, 112, 0.2)), url('../img/banner.jpg') center/cover no-repeat
	background: rgba(109, 110, 112, 0.2) url('../img/banner.jpg') center/cover no-repeat
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: rgba(0, 0, 0, 0.2)
	&-composition
		padding-top: 168px
		text-align: center
		position: relative
		color: #ffffff
		& p:first-child
			font-weight: 600
			font-size: 40px
			letter-spacing: 3px
		& p
			font-size: 33px
		& .button
			font-size: 19.2px
			color: #ffffff
			border-radius: 10px
			padding: 24px 42px
			margin-top: 58px
			&::after
				display: none

/*============ section-1 ============*/
.section-1
	padding-top: 100px
	padding-bottom: 85px
	text-align: center
	color: #515151
	& img
		margin-bottom: 36px
	& p:first-of-type
		max-width: 500px
		margin: 0 auto
		font-size: 31.2px
		font-weight: 600
		line-height: 50px
	& p
		max-width: 920px
		margin: 48px auto 0 auto
		font-size: 19.2px

/*============ section-2 ============*/
.section-2
	padding-top: 60px
	& .tabs
		max-width: 980px
		margin: 0 auto
		padding-bottom: 37px
		text-align: center
		white-space: nowrap
		& li
			display: inline-block
			width: 33%
			text-align: start
			.underline
				display: none
				position: relative
				top: 37px
				width: 90%
				height: 5px
				background-color: $accent
				&.active
					display: block
			&:first-child
				text-align: start
				padding-left: 10px
				& .underline
					left: -10px
			&:last-child
				text-align: end
				padding-right: 10px
				& .underline
					right: -42px
	& span
		font-size: 30.2px

.tab-number
	display: inline-block
	width: 43px
	height: 43px
	color: #ffffff
	background-color: #515151
	line-height: 43px
	border-radius: 50%
	margin-right: 29px
	font-size: 20.2px
	text-align: center
	&.active
		background-color: $accent

.line
	max-width: 980px
	margin: 0 auto
	height: 1px
	background-color: #515151

.panel
	max-width: 980px
	margin: 0 auto
	padding-top: 90px
	padding-bottom: 110px
	white-space: nowrap
	& img
		display: inline-block
		padding: 0 53px 0 90px
	& .info-text
		max-width: 70%
		display: inline-block
		vertical-align: middle
		font-size: 17.2px
		white-space: normal
		& p
			line-height: 30px
			&:first-child
				font-size: 25.2px
				color: #add136
				padding-bottom: 35px

/*============ section-3 ============*/

.section-3
	> div
		padding-top: 40px
		padding-bottom: 46px
		width: 50%
		float: left
		min-height: 250px

	& .left-section
		background-color: #e2f8ff
		padding-left: 10%
		padding-right: 60px
		white-space: nowrap
		& img, .info-text
			display: inline-block
			white-space: normal
			vertical-align: middle
		& .info-text
			width: 70%
			padding-left: 46px
			word-wrap: break-word
			& p:first-child
				font-size: 23.2px
				font-weight: 600
				padding-bottom: 35px

	& .right-section
		background-color: #f5f9eb
		padding-left: 60px
		padding-right: 140px
		white-space: nowrap
		& img, .info-text
			display: inline-block
			white-space: normal
			vertical-align: middle
		& .info-text
			width: 70%
			padding-left: 46px
			word-wrap: break-word
			& p:first-child
				font-size: 23.2px
				font-weight: 600
				padding-bottom: 35px
	& .button
		margin-top: 28px
		padding: 18px 28px
		white-space: nowrap

/*============ section-3 ============*/
.section-4
	padding-top: 80px
	padding-bottom: 70px
	padding-left: 10px
	max-width: 980px
	margin: 0 auto

	& .header-project-section
		padding-bottom: 60px

	& .text
		display: inline-block
		width: 65%

	& .head-text
		font-size: 29.2px
		font-weight: 600

	& .btn, .text
		display: inline-block
		white-space: normal
		vertical-align: middle
		position: relative
	& .btn
		width: 34%
		text-align: end

.project-list
	margin: 0 -1.5%

	& .item
		width: 29%
		margin: 0 1.5%
		min-height: 100px
		//background-color: #515151
		display: inline-block
		overflow: hidden
		border-radius: 15px
		border: 1px solid #e5e5e5
		background-color: #f9f9f9
		//background: url('../img/photo-1.jpg') center/cover no-repeat
		& .photo
			width: 100%
			max-height: 225px
			position: relative

		& .label-new
			position: absolute
			top: -85px
			left: -85px
			width: 140px
			height: 140px
			background-color: #86ad09
			color: #ffffff
			font-weight: 600
			text-align: center
			transform: rotate(-45deg)
			& span
				position: absolute
				bottom: 0
				right: 0
				left: 0

		& .info
			padding: 25px
			font-weight: 600

			& .title
				font-weight: bold
				padding: 0
				font-size: 17.2px
				width: 150%
				& .city
					text-transform: uppercase

			& p.clip
				max-height: 150px
				overflow: hidden
				word-wrap: break-word
				text-overflow: clip
				width: 150%
				font-size: 13.2px
				line-height: 27px
				padding: 10px 0

			.progress-bar
				padding: 15px 0

			& .meter
				height: 15px
				position: relative
				background: #e3e3e3
				border-radius: 25px
				box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3)
				& > span
					display: block
					height: inherit
					border-top-left-radius: 25px
					border-bottom-left-radius: 25px
					background-color: #add136
					z-index: 10
					overflow: hidden

			& .progress-bar-info
				font-size: 13.2px
				padding-bottom: 30px
				border-bottom: 1px solid #e3e3e3
				text-transform: capitalize
				& .progress
					display: inline-block
					float: left
				& .days
					display: inline-block
					float: right

			& .pr-det
				display: inline-block
				float: right
				margin: 25px 15px 20px 0
				font-size: 15.2px
				text-transform: capitalize
				color: #515151
				& .fa
					font-size: 25px
					position: relative
					top: 4px
					left: 15px
					color: #86ad09
					transition: left .2s ease
				&:focus, &:hover
					text-decoration: none
					color: lighten(#515151, 20%)
					& .fa
						left: 20px
				&:active
					color: darken(#515151, 10%)

@import "media" // Всегда в конце
